*{
    margin: 0;
    box-sizing: border-box;
}
@media (min-width: 1024px) {

    .container {
            display: inline-flex;
            height: 900px;
            padding: 30px 30px 30px 147px;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 137px;
            background: #F8F8F7;
        }
}


.Left-Section{
    position: sticky;
    left:0;
    top:0;
    width: 446px;
    height: 544px;
    border-radius: 20px;
    background: #FFF;
}

.Logo{
        display: flex;
        width: 106.161px;
        height: 24px;
        padding-right: 0px;
        justify-content: center;
        align-items: center;
        gap: 7.894px;
        flex-shrink: 0;
        margin-top: 30px;
}

.Text-Container > h1{
        color: #1D1D1D;
        font-family: Jost;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 58px;
        
        margin-top: 85.01px;
        /* 131.818% */
}

.Text-Container > p{
        color: #8C8C8C;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 60px;
}

.Text-Container > h2{
        color: #1D1D1D;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}

.Tables {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 20px ;
   }

.Voting{
    width: 138px;
    height: 198px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #B4B7FF;
    padding: 37px 19px 36.53px 19px;
   
}
.Voting-Image{
    width: 100px;
    height: 125.47px;
    flex-shrink: 0;
    background: url(./Assets/vote-table.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.Breeds{
    width: 138px;
    height: 198px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #97EAB9;
    padding: 17px 11px 18px 10px;
}

.Breeds-Image{
    width: 117px;
    height: 163px;
    flex-shrink: 0;
    background: url(./Assets/pet-breeds.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Gallery{
    width: 138px;
    height: 198px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #FFD280;
    padding: 4px 13px 4px 13px;
}

.Gallery-Image{
    width: 112px;
    height: 190px;
    flex-shrink: 0;
    background: url(./Assets/images-search.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Tables-Text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}



.Tables-Text .link{
        width: 138px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        color: #FF868E;
        text-align: center;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        /* 133.333% */
        letter-spacing: 2px;
        padding: 10px;
        margin-top: 10px;
        text-transform: uppercase;
        text-decoration: none;
        
}

@media (max-width: 992px) {
   *{
    overflow-x: hidden;
   }
    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin: auto;
        background: #F8F8F7;
        align-items: center;
        margin: auto;
        
    }
        .Left-Section {
            position: static;
            width: 446px;
            height: 1000px;
            border-radius: 20px;
            background: #FFF;
            padding: 60px;
            
        }
                .Voting {
                    width: 108px;
                    height: 188px;
                    flex-shrink: 0;
                    border-radius: 20px;
                    border: 4px solid rgba(255, 255, 255, 0.60);
                    background: #B4B7FF;
                    padding: 37px 19px 36.53px 19px;
        
                }
        
                .Voting-Image {
                    width: 80px;
                    height: 125.47px;
                    flex-shrink: 0;
                    background: url(./Assets/vote-table.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
        
        
                .Breeds {
                    width: 110px;
                    height: 188px;
                    flex-shrink: 0;
                    border-radius: 20px;
                    border: 4px solid rgba(255, 255, 255, 0.60);
                    background: #97EAB9;
                    padding: 17px 11px 18px 10px;
                }
        
                .Breeds-Image {
                    width: 100px;
                    height: 153px;
                    flex-shrink: 0;
                    background: url(./Assets/pet-breeds.png);
                    background-repeat: no-repeat;
                    background-size: cover;
        
                }
        
                .Gallery {
                    width: 108px;
                    height: 188px;
                    flex-shrink: 0;
                    border-radius: 20px;
                    border: 4px solid rgba(255, 255, 255, 0.60);
                    background: #FFD280;
                    padding: 4px 13px 4px 13px;
                }
        
                .Gallery-Image {
                    width: 94px;
                    height: 180px;
                    flex-shrink: 0;
                    background: url(./Assets/images-search.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                                .Tables-Text .link {
                                    width: 110px;
                                }
}
